<h2>Name: <%= data.name %></h2>
<h3>Age: <%= data.age %></h3>
<form action="/showdata" method="post">
	ten: <input type="text" name="username">
	<br>
	mat khau: <input type="password" name="password">
	<br>
	<button type="submit">Gửi</button>
</form>